[submodule "src/BRoCo"]
	path = src/BRoCo
	url = git@github.com:EPFLXplore/BRoCo.git
	branch = EL-BRoCo
[submodule "src/docker_foxy_jetson/src/custom_msg"]
	path = src/docker_foxy_jetson/src/custom_msg
	url = git@github.com:EPFLXplore/ERC_SE_CustomMessages.git
[submodule "src/custom_msg"]
	path = src/custom_msg
	url = git@github.com:EPFLXplore/ERC_SE_CustomMessages.git
